# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
target
dist-ssr
*.local

# Editor directories and files
.vscode/*
web/node_modules
web/.vscode
web/.dist
app/node_modules
app/.vscode
app/.dist

!.vscode/extensions.json
.idea
depend
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
