.btn {
  margin-left: 12px;
}
.btnR {
  margin-right: 12px;
}
//logo
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  .logoPng {
    width: 100%;
    object-fit: cover;
  }
}
//app名称
.app-name {
  position: relative;
  overflow: hidden;
  background-position: 0;
  font-weight: 550;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 120px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  color: #5090ff;
  font-family: "YourFontName", sans-serif;
  background-size: 100% 35px !important;
  background: url("https://cos-1307762674.cos.ap-shanghai.myqcloud.com/picture/system/%E8%BE%93%E5%85%A5%E6%A1%86.png")
    no-repeat center;
  &:hover {
    color: #76d7fa;
  }
}
