.--el-color-danger-light-9 {
  background-color: var(--el-color-danger-light-9);
}

.--el-color-warning-light-9 {
  background-color: var(--el-color-warning-light-9);
}

.--el-color-primary-light-9 {
  background-color: var(--el-color-primary-light-9);
}

.--el-color-success-light-9 {
  background-color: var(--el-color-success-light-9);
}
