/**Variable**/

:root {
  /*font*/
  --vxe-font-family: var(--el-font-family);

  /*color*/
  --vxe-font-color: var(--el-text-color-regular);
  --vxe-primary-color: var(--el-color-primary);
  --vxe-success-color: var(--el-color-success);
  --vxe-info-color: var(--el-color-info);
  --vxe-warning-color: var(--el-color-warning);
  --vxe-danger-color: var(--el-color-danger);

  /*input/radio/checkbox*/
  --vxe-input-border-color: var(--el-border-color);

  /*popup*/
  --vxe-table-popup-border-color: var(--el-border-color-light);

  /*modal*/
  --vxe-modal-header-background-color: var(--el-bg-color);
  --vxe-modal-body-background-color: var(--el-bg-color);

  /*table*/
  --vxe-table-header-font-color: var(--el-text-color-regular);
  --vxe-table-border-color: var(--el-border-color-lighter);
  --vxe-table-header-background-color: #f8f8f9;
  --vxe-table-body-background-color: var(--el-bg-color);
  --vxe-ui-table-header-font-color: var(--el-text-color-regular) !important;
  --vxe-ui-table-header-background-color: var(--el-fill-color-light) !important;
  --vxe-table-body-font-color: var(--el-text-color-regular) !important;
  --vxe-ui-layout-background-color: var(--el-bg-color) !important;
  --vxe-table-row-hover-background-color: var(--el-fill-color-light);

  /*filter*/
  --vxe-table-filter-panel-background-color: var(--el-color-primary-light-9);

  /*loading*/
  // --vxe-loading-color: #{$vxe-loading-color};
  --vxe-loading-background-color: transparent;
  // --vxe-loading-z-index: #{$vxe-loading-z-index};

  /*toolbar*/
  --vxe-toolbar-background-color: transparent;
  --vxe-toolbar-custom-active-background-color: var(--el-color-primary-light-9);
  --vxe-toolbar-panel-background-color: var(--el-bg-color-overlay);

  /*tooltip*/
  // --vxe-tooltip-dark-color: #{$vxe-tooltip-dark-color};
  // --vxe-tooltip-dark-background-color: #{$vxe-tooltip-dark-background-color};
  // --vxe-tooltip-light-background-color: #{$vxe-tooltip-light-background-color};

  /*pager*/
  --vxe-pager-background-color: transparent;
  // --vxe-pager-perfect-background-color: #{$vxe-pager-perfect-background-color};
  // --vxe-pager-perfect-button-background-color: #{$vxe-pager-perfect-button-background-color};

  /*modal*/
  // --vxe-modal-header-background-color: #{$vxe-modal-header-background-color};
  // --vxe-modal-body-background-color: #{$vxe-modal-body-background-color};
  // --vxe-modal-border-color: #{$vxe-modal-border-color};

  /*button*/
  // --vxe-button-max-width: #{$vxe-button-max-width};
  --vxe-button-default-background-color: var(--el-button-border-color);
  // --vxe-button-dropdown-panel-background-color: #{$vxe-button-dropdown-panel-background-color};
  // --vxe-button-height-default: #{$vxe-button-height-default};
  // --vxe-button-height-medium: #{$vxe-button-height-medium};
  // --vxe-button-height-small: #{$vxe-button-height-small};
  // --vxe-button-height-mini: #{$vxe-button-height-mini};
  // --vxe-button-round-border-radius-default: #{$vxe-button-round-border-radius-default};
  // --vxe-button-round-border-radius-medium: #{$vxe-button-round-border-radius-medium};
  // --vxe-button-round-border-radius-small: #{$vxe-button-round-border-radius-small};
  // --vxe-button-round-border-radius-mini: #{$vxe-button-round-border-radius-mini};

  /*input*/

  --vxe-input-background-color: var(--el-fill-color-blank);
  // --vxe-input-panel-background-color: #{$vxe-input-panel-background-color};
  // --vxe-input-number-disabled-color: #{$vxe-input-number-disabled-color};
  // --vxe-input-date-festival-color: #{$vxe-input-date-festival-color};
  // --vxe-input-date-festival-important-color: #{$vxe-input-date-festival-important-color};
  // --vxe-input-date-notice-background-color: #{$vxe-input-date-notice-background-color};
  // --vxe-input-date-picker-hover-background-color: #{$vxe-input-date-picker-hover-background-color};
  // --vxe-input-date-picker-selected-color: #{$vxe-input-date-picker-selected-color};
  // --vxe-input-date-time-confirm-button-color: #{$vxe-input-date-time-confirm-button-color};
  // --vxe-input-date-picker-festival-selected-color: #{$vxe-input-date-picker-festival-selected-color};
  // --vxe-input-date-picker-notice-selected-background-color: #{$vxe-input-date-picker-notice-selected-background-color};
  // --vxe-input-date-extra-color: #{$vxe-input-date-extra-color};
  // --vxe-input-date-extra-important-color: #{$vxe-input-date-extra-important-color};
  // --vxe-input-date-title-height-default: #{$vxe-input-date-title-height-default};
  // --vxe-input-date-title-height-medium: #{$vxe-input-date-title-height-medium};
  // --vxe-input-date-title-height-small: #{$vxe-input-date-title-height-small};
  // --vxe-input-date-title-height-mini: #{$vxe-input-date-title-height-mini};
  // --vxe-input-date-time-week-row-height-default: #{$vxe-input-date-time-week-row-height-default};
  // --vxe-input-date-time-week-row-height-medium: #{$vxe-input-date-time-week-row-height-medium};
  // --vxe-input-date-time-week-row-height-small: #{$vxe-input-date-time-week-row-height-small};
  // --vxe-input-date-time-week-row-height-mini: #{$vxe-input-date-time-week-row-height-mini};
  // --vxe-input-date-month-year-row-height-default: #{$vxe-input-date-month-year-row-height-default};
  // --vxe-input-date-month-year-row-height-medium: #{$vxe-input-date-month-year-row-height-medium};
  // --vxe-input-date-month-year-row-height-small: #{$vxe-input-date-month-year-row-height-small};
  // --vxe-input-date-month-year-row-height-mini: #{$vxe-input-date-month-year-row-height-mini};
  // --vxe-input-date-quarter-row-height-default: #{$vxe-input-date-quarter-row-height-default};
  // --vxe-input-date-quarter-row-height-medium: #{$vxe-input-date-quarter-row-height-medium};
  // --vxe-input-date-quarter-row-height-small: #{$vxe-input-date-quarter-row-height-small};
  // --vxe-input-date-quarter-row-height-mini: #{$vxe-input-date-quarter-row-height-mini};
  // --vxe-input-height-default: #{$vxe-input-height-default};
  // --vxe-input-height-medium: #{$vxe-input-height-medium};
  // --vxe-input-height-small: #{$vxe-input-height-small};
  // --vxe-input-height-mini: #{$vxe-input-height-mini};
  // --vxe-input-count-color: #{$vxe-input-count-color};
  // --vxe-input-count-background-color: #{$vxe-input-count-background-color};
  // --vxe-input-count-error-color: #{$vxe-input-count-error-color};

  /*textarea*/
  // --vxe-textarea-line-height: #{$vxe-textarea-line-height};
  // --vxe-textarea-background-color: #{$vxe-textarea-background-color};

  /*form*/
  // --vxe-form-item-min-height-default: #{$vxe-form-item-min-height-default};
  // --vxe-form-item-min-height-medium: #{$vxe-form-item-min-height-medium};
  // --vxe-form-item-min-height-small: #{$vxe-form-item-min-height-small};
  // --vxe-form-item-min-height-mini: #{$vxe-form-item-min-height-mini};
  // --vxe-form-background-color: #{$vxe-form-background-color};
  // --vxe-form-validate-error-color: #{$vxe-form-validate-error-color};
  // --vxe-form-validate-error-background-color: #{$vxe-form-validate-error-background-color};

  /*select*/
  // --vxe-select-option-height-default: #{$vxe-select-option-height-default};
  // --vxe-select-option-height-medium: #{$vxe-select-option-height-medium};
  // --vxe-select-option-height-small: #{$vxe-select-option-height-small};
  // --vxe-select-option-height-mini: #{$vxe-select-option-height-mini};
  --vxe-select-option-hover-background-color: var(--el-fill-color-light);
  --vxe-select-panel-background-color: var(--el-bg-color-overlay);
  // --vxe-select-empty-color: #{$vxe-select-empty-color};
  // --vxe-optgroup-title-color: #{$vxe-optgroup-title-color};

  /*switch*/
  // --vxe-switch-font-color: #{$vxe-switch-font-color};
  // --vxe-switch-icon-background-color: #{$vxe-switch-icon-background-color};
  // --vxe-switch-open-background-color: #{$vxe-switch-open-background-color};
  // --vxe-switch-close-background-color: #{$vxe-switch-close-background-color};
  // --vxe-switch-disabled-background-color: #{$vxe-switch-disabled-background-color};

  /*pulldown*/
  // --vxe-pulldown-panel-background-color: #{$vxe-pulldown-panel-background-color};
  .is--loading:before {
    backdrop-filter: blur(2px);
  }
}
html.dark {
  --vxe-table-header-background-color: var(--el-fill-color-light);
}
.vxe-toolbar .vxe-custom--wrapper .vxe-button:hover {
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
  border-color: var(--el-color-primary-light-7);
}
.vxe-toolbar .vxe-custom--wrapper.is--active > .vxe-button {
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
  border-color: var(--el-color-primary-light-7);
}
